<!DOCTYPE html>
<html>

<head>
  <title>ramoneH_RXsavings_Service</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 </head>

<body style="text-align: center;">

  <div class="card text-center ">
    <div class="card-header alert-warning">
      Find Nearest Pharmacy App
    </div>
    <div class="card-body alert-primary">
      <h5 class="card-title">Pharmacy Consumable</h5>
      <p class="card-text">Closest Pharmacy</p>
      <% if(closestLocation != null){ %>
        <h6>  <%= closestLocation.name %> </h6>
        <h6>  <%= closestLocation.address  %> </h6>
        <h6> <%= closestLocation.city %> </h6>
        <h6> <%= closestLocation.state %> </h6>
        <h6> <%= closestLocation.zip %> </h6>
        <h6>  <%= closestLocation.longitude %> </h6>
        <h6>  <%= closestLocation.latitude  %> </h6>
        <h6>  <%= closestLocation.distance %> </h6>
        <% } %>
      <a href="/closestPharmacy" class="btn btn-primary">Go Back</a>
      <a href="/viewRaw" class="btn btn-danger">View Consumable</a>
    </div>
    <div class="alert-danger card-footer text-muted">
      @Ramone Hamlett
    </div>
  </div>

</body>

</html>